@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-section {
  margin-bottom: 2rem;
  max-height: 24rem;
  overflow-y: auto;
}

.sort-by {
  display: flex;
  align-items: center;
}

.sort-by label {
  margin-right: 0.5rem;
}

.dashboard-section::-webkit-scrollbar {
  width: 6px;
  height: 20px;
}

.dashboard-section::-webkit-scrollbar-thumb {
  background-color: #003366;
  border-radius: 10px;
}

.dashboard-section::-webkit-scrollbar-track {
  background: transparent;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}